<div class="sb_header">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <a href="users/#{@user}/edit">Tom</a>
  </div>
  <div class="chat_create_button">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="sb_main">
  <div class="chat_room">
    <a href="#">チャットルーム</a>
  </div>
</div>